@import "tailwindcss";

/* Autofill  */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
    -webkit-text-fill-color: white !important;
    caret-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}

@theme {

  --font-poppins: 'Poppins', sans-serif;

  --color-dark-bg: #1a1a2e;
  --color-neon-blue: #00d4ff;


}